<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Device simulator</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="client.js"></script>
    <script src="jquery-3.1.1.slim.min.js"></script>
    <script src="modernizr-custom.js"></script>
    <script type="text/javascript" src="https://js.monitor.azure.com/scripts/b/ai.2.min.js"></script>
</head>
<body class="site" ng-app="SimulatorApp" ng-controller="SimulatorController">
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-5">Hello Device <b>{{name}}</b></h2>
            <p>{{version}}</p>
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
            <div class="btn-group">
                <form>
                    <p>
                        <label for="lookTemperature">Temperature: {{ temperature }}</label>
                        <input type="range" ng-model="temperature" min="0" max="100" value="10" step="2" width="200">                        
                    </p>
                    <p>
                        <label for="lookhumidity">Humidity: {{ humidity }}</label>
                        <input type="range" ng-model="humidity" min="0" max="100" value="10" step="2" width="200">
                    </p>
                    <p>
                        <label for="instancename" style="width:200px">Message:</label>
                        <input type="text" ng-model="message" maxlength="16" value="azureuser" width="300">
                    </p>
                    <p>
                        <label>
                        <input type="checkbox" ng-model="loop" value"loop" checked="true" name="loop">keep posting in a loop</input>
                    </label><br/>
                    <label>
                        <input type="checkbox" ng-model="random" value"random" checked="true" name="random">random value</input>

                        </label><br/>
                        <button class="btn btn-lg btn-success" ng-click="InvokeRequest()" type="button" id="InvokeRequest" value="Invoke Request">Invoke Request</button>
                        <button class="btn btn-lg btn-success" ng-click="PublishMessage()" type="button" id="PublishMessage" value="Publish Message">Publish Message</button>
                    </p>
                </form>
                <div class="row">
                    <h2>Result</h2>
                    <p class="bg-info">{{ result }}</p>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Milliseconds</th>
                            <th scope="col">HttpStatus</th>
                            <th scope="col">Host</th>
                            <th scope="col">Receiver</th>
                            <th scope="col">Sink</th>
                            <th scope="col">CosmosDB</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="response in responses track by $index">
                          <td ng-class="CalculateCssClass(response.status)">{{ response.duration }}</td>
                          <td ng-class="CalculateCssClass(response.status)">{{ response.status }}</td>
                          <td ng-class="CalculateCssClass(response.status)">{{ response.host }}</td>
                          <td ng-class="CalculateCssClass(response.dependency.status)">{{ response.dependency.host }} {{ response.dependency.sender }} {{ response.dependency.status }} </td>
                          <td ng-class="CalculateCssClass(response.dependency.dependency.status)">{{ response.dependency.dependency.host }} {{ response.dependency.dependency.sender }} {{ response.dependency.dependency.status }} </td>
                          <td ng-class="CalculateCssClass(response.dependency.dependency.dependency.status)">{{ response.dependency.dependency.dependency.host }} {{ response.dependency.dependency.dependency.sender }} {{ response.dependency.dependency.dependency.status }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- /.container -->
    <script type="text/javascript">
    function initAppInsights(insightsKey){
        var snippet = {
            config: {
                connectionString: insightsKey,
                disableFetchTracking: false,
                enableCorsCorrelation: true,
                enableRequestHeaderTracking: true,
                enableResponseHeaderTracking: true
            }
        };
        var init = new Microsoft.ApplicationInsights.ApplicationInsights(snippet);
        var appInsights = init.loadAppInsights();
        appInsights.addTelemetryInitializer((envelope) => {
            envelope.tags = envelope.tags || [];
            envelope.tags.push({ "ai.cloud.role": "message-creator-ui" });
            // envelope.tags["ai.cloud.role"] = "your role name";
            // envelope.tags["ai.cloud.roleInstance"] = "your role instance";
        });
        appInsights.trackPageView();
    }
    </script>
</body>
</html>